---
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";

const { job: jobSlug } = Astro.params;

const jobs = [
  {
    slug: "creative-director",
    title: "Creative Director",
  },
  {
    slug: "director",
    title: "Director",
  },
];
---

<Layout>
  <Navigation />
  <div data-scroll-section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      data-scroll
      data-scroll-speed="2"
      class="intro min-h-[80vh] flex flex-col justify-center"
    >
      <h1
        class="max-w-[25ch] text-4xl sm:text-5xl lg:text-7xl font-black uppercase"
      >
        <span class="block">Some Of</span>
        <span class="block mt-2 text-[#9C44FC]">Our Work</span>
      </h1>
    </div>

    <div data-scroll data-scroll-speed="2" class="pt-8 mt-28">
      <div class="grid grid-cols-1 md:grid-cols-[0.5fr_45ch] gap-8 lg:gap-0">
        <div class="">
          <p
            class="py-2 uppercase px-6 border w-max border-[#303436] text-xs rounded-[10rem]"
          >
            ABOUT THE GAME
          </p>
        </div>
        <div class="content">
          <h2 class="mb-8 opacity-60 font-semibold text-xs">
            Made in collabaration with<br />
            <a href="#" class="text-[#9C44FC] font-semibold" target="_blank"
              >Iamprogrez</a
            > &amp; <a
              href="#"
              class="text-[#9C44FC] font-semibold"
              target="_blank">IT Randsteden</a
            >
          </h2>
          <h2 class="text-4xl leading-none font-semibold">
            Interact with villagers <br />and save Seasight.
          </h2>
          <p class="my-4 leading-[1.4rem] text-base">
            In collaboration with <a href="#" class="text-[#9C44FC]"
              >IT Randsteden</a
            > and <a href="#" class="text-[#9C44FC]">IamProgrez</a>, we created
            an interactive world educators can use to teach pupils about the
            things we can do to protect humanity from the rising sea level.
            Children experience this by working together, making decisions about
            the different options, each with their own advantages and
            disadvantages.
          </p>
        </div>
      </div>
    </div>

    <div data-scroll class="mt-28">
      <div class="image-container">
        <div
          class="h-[120px] md:h-[215px] lg:h-[400px] rounded-xl aspect-video mx-auto bg-slate-50/10 text-xl text-[#9C44FC]/60 grid place-content-center"
        >
          image placeholder
        </div>
      </div>
    </div>

    <div data-scroll data-scroll-speed="2" class="mt-28">
      <div class="grid grid-cols-1 md:grid-cols-[0.5fr_45ch] gap-8 lg:gap-0">
        <div class="">
          <p
            class="py-2 px-6 border w-max border-[#303436] uppercase text-xs rounded-[10rem]"
          >
            HOW IT WORKS
          </p>
        </div>
        <div class="content">
          <h2 class="text-4xl leading-none font-semibold">
            Children form their own opinion by exploring the environment.
          </h2>
          <p class="my-4 leading-[1.4rem] text-base">
            By talking to the local residents, children get introduced to real
            life dilemmas about climate change and green energy. Now, they have
            to work together. Doing nothing will get them wet feet. What will
            they do to try and save the local village?
          </p>
        </div>
      </div>
    </div>
    <div data-scroll class="mt-28">
      <div class="grid grid-cols-2 gap-16">
        <div class="grid gap-24 grid-cols-1 content-start">
          <div
            class="image-container image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
          >
            <img
              class="rounded-[.2rem] h-[205px] md:h-[364px] lg:h-[324px]"
              src="/img/EW_keyArt-1024x576.webp"
              alt=""
            />
          </div>
          <div
            class="image-container image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
          >
            <img
              class="rounded-[.2rem] h-[205px] md:h-[364px] lg:h-[324px]"
              src="/img/Magic-Fruits-KeyArt-1024x576.webp"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-24 grid-cols-1 mt-20 content-start">
          <div
            class="image-container image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
          >
            <img
              class="rounded-[.2rem] h-[205px] md:h-[364px] lg:h-[324px]"
              src="/img/minecraft.webp"
              alt=""
            />
          </div>
          <div
            class="image-container image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
          >
            <img
              class="rounded-[.2rem] h-[205px] md:h-[364px] lg:h-[324px]"
              src="/img/Hacker-Weapons-1024x576.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div data-scroll data-scroll-speed="2" class="mt-28 pt-8">
      <div class="grid grid-cols-1 md:grid-cols-[0.5fr_45ch] gap-8 lg:gap-0">
        <div class="">
          <p
            class="py-2 px-6 border w-max border-[#303436] uppercase text-xs rounded-[10rem]"
          >
            RESULTS
          </p>
        </div>
        <div class="content">
          <h2 class="text-4xl leading-none font-semibold">
            Players experience the effect of their choices immediately.
          </h2>
          <p class="my-4 leading-[1.4rem] text-base">
            Players can invest in different resources to build the wanted
            necessities. Some are more durable and work for the long term, but
            do require more resources and time to produce. Other (cheaper)
            strategies are to invest in short term solutions.
          </p>
        </div>
      </div>
    </div>

    <div data-scroll class="mt-28">
      <div class="grid grid-cols-1 md:grid-cols-[0.5fr_45ch] gap-8 lg:gap-0">
        <div class=""></div>
        <div class="content">
          <h2 class="text-4xl leading-none font-semibold">
            Information based decisionmaking.
          </h2>
          <p class="mt-4 leading-[1.4rem] text-base">
            Players can invest in different resources to build the wanted
            necessities. Some are more durable and work for the long term, but
            do require more resources and time to produce. Other (cheaper)
            strategies are to invest in short term solutions.Based on the
            information they found and their own interpretations, players have
            to make a plan of action in order to work together in an effective
            way to protect themselves from the rising sea level.
          </p>
          <h2 class="mt-8 opacity-60 font-semibold text-xs">
            Made in collabaration with<br />
            <a href="#" class="text-[#9C44FC] font-semibold" target="_blank"
              >Iamprogrez</a
            > &amp; <a
              href="#"
              class="text-[#9C44FC] font-semibold"
              target="_blank">IT Randsteden</a
            >
          </h2>
        </div>
      </div>
    </div>
    <div data-scroll class="my-28">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div
          class="image-container col-span-2 image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
        >
          <img
            class="rounded-[.2rem] mx-auto h-[205px] md:h-[364px] lg:h-[324px]"
            src="/img/Magic-Fruits-KeyArt-1024x576.webp"
            alt=""
          />
        </div>
        <div
          class="image-container image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
        >
          <img
            class="rounded-[.2rem] h-[205px] md:h-[364px] lg:h-[324px]"
            src="/img/minecraft.webp"
            alt=""
          />
        </div>
        <div
          class="image-container image-overlay overflow-hidden transition-all duration-300 before:block before:z-[1] before:content-[''] before:absolute before:bottom-0 before:h-full before:w-full before:transition-all before:duration-500 before:ease-in-out hover:before:opacity-0 ease-in-out relative before:[background-image:linear-gradient(0deg,_rgb(7,_8,_15)_0%,_rgba(7,_8,_15,_0.12)_50%,_rgba(7,_8,_16,_0)_100%)]"
        >
          <img
            class="rounded-[.2rem] h-[205px] md:h-[364px] lg:h-[324px]"
            src="/img/Hacker-Weapons-1024x576.webp"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer data-scroll-section class="bg-gray-900 py-16 mt-auto">
    <div data-scroll class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-3 gap-8">
        <div class="text-left">
          <h3 class="text-2xl font-thin">Our Services</h3>
          <p class="text-xl">Live-Events / Fundraisers / Promotions</p>
          <p class="text-xl">
            Game Development / World Creation / Multiplayer Servers
          </p>
          <p class="text-xl">3D Animation / 3D Rendering</p>
        </div>
        <div class="text-center">
          <h3 class="text-2xl font-thin">Work with us</h3>
          <p class="text-xl">eternal@creations.com</p>
          <p class="text-xl">Thies Boll</p>
          <p class="text-xl">Director and CEO</p>
        </div>
        <div class="text-right">
          <h3 class="text-2xl font-thin">Legal</h3>
          <p class="text-xl">Imprint</p>
          <p class="text-xl">Privacy Policy</p>
          <p class="text-xl">Terms of Service</p>
        </div>
      </div>
      <form
        action="#"
        method="POST"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2"
      >
        <!-- Form fields go here -->
      </form>
    </div>
  </footer>
</Layout>

<script>
  import LocomotiveScroll from "locomotive-scroll";

  window.addEventListener("DOMContentLoaded", () => {
    const container = document.querySelector("[data-scroll-container]");

    if (container) {
      const scroll = new LocomotiveScroll({
        el: container,
        smooth: true, // Enable smooth scrolling
      });

      // Update Locomotive Scroll on page resize
      window.addEventListener("resize", () => {
        scroll.update();
      });
    }
  });
</script>
