---
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout>
  <Navigation />

  <div data-scroll-section>
    <div
      data-scroll
      data-scroll-speed="2"
      class="mx-auto mb-16 pb-[200px] px-4 sm:px-6 lg:px-8 max-w-[120rem]"
    >
      <div class="pt-[200px] pb-10 lg:pb-[200px]">
        <h1 class="text-3xl md:text-4xl lg:text-7xl font-black uppercase">
          <span class="">Open</span>
          <span class="text-[#9C44FC]">Jobs</span>
        </h1>
      </div>

<!-- 
      <div>
        <div class="border-b border-gray-500 border-solid py-8">
          <a
            href="/jobs/creative-director"
            class="flex justify-evenly flex-col md:flex-row gap-5 md:items-center"
          >
            <h2 class="text-4xl lg:text-6xl">Creative Director</h2>
            <p class="text-lg md:text-xl">
              Looking for a dream job in the gaming industry? Minecraft
              Marketplace is the place to be! We're a thriving business
              dedicated to creating amazing experiences for Minecraft players
              worldwide.
            </p>
          </a>
        </div>

        <div class="border-b border-gray-500 border-solid py-16">
          <a
            href="/jobs/director"
            class="flex justify-evenly flex-col md:flex-row gap-5 md:items-center"
          >
            <h2 class="text-4xl lg:text-6xl">Director</h2>
            <p class="text-lg md:text-xl">
              As a part of our team, you'll have the opportunity to work with a
              passionate and talented group of individuals who are constantly
              pushing the boundaries of what's possible in Minecraft. We value
              creativity, innovation, and a deep understanding of the Minecraft
              Marketplace.
            </p>
          </a>
        </div>
-->
      <a class="flex justify-evenly flex-col md:flex-row gap-5 md:items-center">
        <p class="text-3xl md:text-4xl">
            We are currently not looking for creative minds.
        </p>
      </a>

        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
<Footer >
</Layout>

<script>
  import LocomotiveScroll from "locomotive-scroll";

  window.addEventListener("DOMContentLoaded", () => {
    const container = document.querySelector("[data-scroll-container]");

    if (container) {
      const scroll = new LocomotiveScroll({
        el: container,
        smooth: true, // Enable smooth scrolling
      });

      // Update Locomotive Scroll on page resize
      window.addEventListener("resize", () => {
        scroll.update();
      });
    }
  });
</script>
