---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Preloader from "../components/Preloader.astro";
---

<Layout>
  <Navigation />
  <Preloader />

  <div data-scroll-container class="overflow-hidden isolate">
    {/* HERO */}
    <div class="relative h-[110vh] overflow-hidden">
      <div
        data-scroll
        data-scroll-speed="-2"
        class="absolute inset-x-0 bottom-0 py-24 lg:py-48 flex items-center text-center flex-col gap-8 mx-auto z-30 h-fit w-full"
      >
        <h1 class="text-5xl lg:text-9xl font-black uppercase">
          <span class="block opacity-80">Creations</span>
          <span>for</span>
          <span>eternity</span>
        </h1>
        <p class="text-2xl lg:text-4xl font-semibold opacity-80">
          Building your Minecraft dreams into reality.
        </p>
      </div>
      <div
        class="absolute inset-x-0 inset-y-0 w-full h-full bg-gradient-to-b from-[rgba(166,81,255,0.5)] to-[#9E42FF] z-20"
      >
      </div>
      <div
        class="absolute inset-x-0 inset-y-0 w-full h-full bg-gradient-to-b from-[rgba(0,81,0,0)] to-[#000] z-10"
      >
      </div>
      <div class="relative h-full w-full z-0">
        <video
          autoplay
          muted
          loop
          class="w-full h-full brightness-75 object-cover"
        >
          <source src="/video/video1.mp4" type="video/mp4" />
        </video>
      </div>
    </div>

    {/* SECTION 2 */}
    <div class="relative z-30">
      <div data-scroll class="">
        <div
          class="px-4 pt-16 pb-8 lg:px-6 lg:pt-32 lg:pb-16 max-w-[120rem] mx-auto flex flex-col"
        >
          <h1 class="text-4xl lg:text-8xl font-black uppercase">
            <span class="block">We are</span>
            <span class="block mt-2 text-[#9C44FC]">Eternal Creations</span>
          </h1>

          <div
            class="self-end inline-flex flex-col mt-16 lg:mt-32 mx-4 lg:mx-32 max-w-[60rem]"
          >
            <div class="flex items-start mb-6 lg:mb-8">
              <p class="text-lg lg:text-2xl text-left">
                <span class="block"
                  >A young team consisting of creative minds that are really
                  passionate about Minecraft. It's our expression of art, we
                  love to create stuff and bring joy to children.</span
                >
              </p>
            </div>

            <a
              href="/projects"
              class="block w-fit my-12 lg:my-24 btn large group relative overflow-hidden text-white leading-[1.4] rounded-full border-2 border-gray-400 border-solid py-3 lg:py-4 px-6 lg:px-8 hover:border-[#9C44FC] text-left"
              style="transition: border .3s ease .05s;"
            >
              <span class="relative text-xl lg:text-[2rem] z-10"
                >More About Us</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="horizontal-scroll overflow-hidden left-0">
      <div class="flex items-center mb-16 pb-[200px] pl-[5rem]">
        <div class="pin-wrapper pt-8 grid grid-cols-[repeat(4,700px)] gap-10">
          <div class="flex flex-col">
            <h1 class="text-7xl font-black uppercase">
              <span class="block">Some Of</span>
              <span class="block mt-2 text-[#9C44FC]">Our Work</span>
            </h1>
            <div class="text-left">
              <p class="text-[2.5rem] my-16 max-w-[80rem]">
                <span class="block">We build amazing worlds. Every day.</span>
                <span class="block"
                  >Here is a selection of our personal favorites.</span
                >
              </p>
              <a
                href="/projects"
                class="block my-6 w-fit btn large group relative overflow-hidden text-white leading-[1.4] rounded-full border-2 border-gray-400 border-solid py-4 px-8 hover:border-[#9C44FC]"
                style="transition: border .3s ease .05s;"
              >
                <span class="relative text-[1.85rem] z-10"
                  >Explore All Our Worlds</span
                >
              </a>
            </div>
          </div>
          <div class="w-full h-full">
            <a
              href="#"
              class="flex flex-col justify-center w-full h-full hoverable"
              aria-label="View"
            >
              <div class="w-full h-full mb-6">
                <img
                  alt=""
                  src="/img/EW_keyArt-1024x576.png"
                  class="w-full h-ful object-left rounded-xl"
                />
              </div>
              <div class="w-auto">
                <h3 class="text-[2.25rem]">Extreme Weapons</h3>
                <p class="pt-3 text-[1.2rem] opacity-60">
                  One of our amazing universes.
                </p>
              </div>
            </a>
          </div>

          <div class="w-full h-full">
            <a href="#" class="flex flex-col justify-center w-full h-full">
              <div class="w-full h-full mb-6">
                <img
                  alt=""
                  src="/img/Hacker-Weapons-1024x576.png"
                  class="w-full h-ful object-left rounded-xl"
                />
              </div>
              <div class="w-auto">
                <h3 class="text-[2.25rem]">Hacker Weapons</h3>
                <p class="pt-1 text-[1.2rem] opacity-60">
                  One of our amazing universes.
                </p>
              </div>
            </a>
          </div>

          <div class="w-full h-full">
            <a href="#" class="flex flex-col justify-center w-full h-full">
              <div class="w-full h-full mb-6">
                <img
                  alt=""
                  src="/img/Magic-Fruits-KeyArt-1024x576.png"
                  class="w-full h-ful object-left rounded-xl"
                />
              </div>
              <div class="w-auto">
                <h3 class="text-[2.25rem]">Magic Fruits</h3>
                <p class="pt-3 text-[1.2rem] opacity-60">
                  One of our amazing universes.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-[#9C44FC] py-16">
      <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-3 gap-8">
          <div>
            <h1 class="text-4xl font-black text-white mb-6">Our Services</h1>
            <p class="text-xl text-white">
              Live-Events / Fundraisers / Promotions
            </p>
            <p class="text-xl text-white">
              Game Development / World Creation / Multiplayer Servers
            </p>
            <p class="text-xl text-white">3D Animation / 3D Rendering</p>
          </div>
          <div>
            <h1 class="text-4xl font-black text-white mb-6">Work With Us</h1>
            <p class="text-xl text-white">eternal@creations.com</p>
            <p class="text-xl text-white">Thies Boll</p>
            <p class="text-xl text-white">Director and CEO</p>
          </div>
          <div>
            <h1 class="text-4xl font-black text-white mb-6">Legal</h1>
            <p class="text-xl text-white">Imprint</p>
            <p class="text-xl text-white">Privacy Policy</p>
            <p class="text-xl text-white">Terms of Service</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</Layout>

<style>
  .projects > a:hover video,
  .projects > a:hover p,
  .projects > a:hover img {
    opacity: 1;
  }
</style>

<script>
  import LocomotiveScroll from "locomotive-scroll";

  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", function () {
    const pageContainer = document.querySelector("[data-scroll-container]");

    const scroller = new LocomotiveScroll({
      el: pageContainer,
      smooth: true,
      getDirection: true,
    });

    scroller.on("scroll", function (t) {
      document.documentElement.setAttribute("data-direction", t.direction);
    });

    scroller.on("scroll", ScrollTrigger.update);

    ScrollTrigger.scrollerProxy(pageContainer, {
      scrollTop(value) {
        return arguments.length
          ? scroller.scrollTo(value, 0, 0)
          : scroller.scroll.instance.scroll.y;
      },
      getBoundingClientRect() {
        return {
          left: 0,
          top: 0,
          width: window.innerWidth,
          height: window.innerHeight,
        };
      },
      pinType: pageContainer.style.transform ? "transform" : "fixed",
    });

    // Pinning and horizontal scrolling

    let horizontalSections = document.querySelectorAll(".horizontal-scroll");

    horizontalSections.forEach((horizontalSection) => {
      let pinWrapper = horizontalSection.querySelector(".pin-wrapper");
      let pinWrapperWidth = pinWrapper.offsetWidth;
      let horizontalScrollLength = pinWrapperWidth - window.innerWidth;

      console.log(horizontalScrollLength, pinWrapperWidth);

      gsap.to(pinWrapper, {
        scrollTrigger: {
          scroller: pageContainer,
          scrub: true,
          trigger: horizontalSection,
          pin: true,
          start: "top top",
          end: () => `+=${pinWrapperWidth}`,
          invalidateOnRefresh: true,
        },
        x: -horizontalScrollLength,
        ease: "none",
      });
    });

    ScrollTrigger.addEventListener("refresh", () => scroller.update());

    ScrollTrigger.refresh();
  });
</script>
