---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Preloader from "../components/Preloader.astro";
---

<Layout>
  <Navigation />

  <div class="pt-32 mx-auto max-w-[100rem]">
    <div class="flex flex-wrap">
      <a href="#" class="relative block w-full p-3 flex-[66%] h-[36rem]">
        <div
          class="w-full h-full bg-cover bg-top hover:rounded-xl transition-all"
          style="background-image:url('/img/Hacker-Weapons-1024x576.webp');"
        >
        </div>
      </a>

      <a href="#" class="relative block w-full p-3 flex-[33%] h-[36rem]">
        <div
          class="w-full h-full bg-contain bg-no-repeat bg-black bg-center hover:rounded-xl"
          style="background-image:url('/img/EW_keyArt-1024x576.webp');"
        >
        </div>
      </a>

      <a href="#" class="relative block w-full p-3 flex-[33%] h-[36rem]">
        <div
          class="w-full h-full bg-contain bg-no-repeat bg-black bg-center hover:rounded-xl"
          style="background-image:url('/img/Magic-Fruits-KeyArt-1024x576.webp');"
        >
        </div>
      </a>

      <a href="#" class="relative block w-full p-3 flex-[66%] h-[36rem]">
        <div
          class="w-full h-full bg-cover bg-top hover:rounded-xl"
          style="background-image:url('/img/EW_keyArt-1024x576.webp');"
        >
        </div>
      </a>
    </div>
  </div>
</Layout>
