---
import Layout from "../layouts/Layout.astro";
import WorkCard from "../components/WorkCard.astro";
import Navigation3 from "../components/Navigation.astro";
---

<Layout title="Work">
  <main data-scroll-container class="pb-20">
    <div class="mt-6 px-8 max-w-hd mx-auto">
      <Navigation3 />
    </div>

    <div
      class="mt-16 md:mt-28 pt-14 md:pt-5 lg:pt-20 px-8 md:px-10 lg:px-20 max-w-hd mx-auto text-secondary"
    >
      <h1
        class="text-3xl sm:text-3xl md:text-5xl lg:text-7xl font-black uppercase"
      >
        <span class="">Our</span>
        <span class="text-[#9C44FC]">Games</span>
      </h1>
      <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-8 max-w-hd mx-auto">
        <div class="md:col-span-2">
          <WorkCard
            title="Theia Dimension"
            subTitle="One of our amazing universes."
            image="/img/ztd.webp"
          />
        </div>
        <WorkCard
          title="Dino Park"
          subTitle="One of our amazing universes."
          image="/img/ztd.webp"
        />
        <WorkCard
          title="Zombie Tower Defense"
          subTitle="One of our amazing universes."
          image="/img/zombie_tower_defense_keyart.webp"
        />
        <WorkCard
          title="Dino Park"
          subTitle="One of our amazing universes."
          image="/img/ztd.webp"
        />
        <WorkCard
          title="Zombie Tower Defense"
          subTitle="One of our amazing universes."
          image="/img/zombie_tower_defense_keyart.webp"
        />
        <WorkCard
          title="Dino Park"
          subTitle="One of our amazing universes."
          image="/img/ztd.webp"
        />
        <WorkCard
          title="Zombie Tower Defense"
          subTitle="One of our amazing universes."
          image="/img/zombie_tower_defense_keyart.webp"
        />
      </div>
    </div>
  </main>
</Layout>

<script>
  // get head component
  const header = document.querySelector("#nav-header") as HTMLDivElement;
  // navigation wrapper
  const navWrapper = document.querySelector(
    "#navigation-wrapper"
  ) as HTMLDivElement;

  window.onscroll = () => {
    // check if the navigation is open
    const navOpen = navWrapper.dataset.open === "true";
    //   // add background when scrolled > 300px and navigation is closed
    header.dataset.showBg = `${window.scrollY > 300 && !navOpen}`;
  };
</script>
