<div
  id="nav-header"
  data-show-bg
  class="fixed top-0 inset-x-0 w-full h-auto py-2 px-6 sm:px-8 lg:py-8 z-50 transition-[background-color] duration-300 data-[show-bg='true']:bg-[#0c0f16]"
>
  <div
    class="absolute inset-x-0 inset-y-0 bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-[rgba(0,0,0,0)] z-10"
  >
  </div>
  <div class="relative max-w-[120rem] mx-auto z-20">
    <div class="flex justify-between items-center">
      <a href="/" class="hoverable" aria-label="Home">
        <img class="w-32 h-auto" alt="" src="/img/logo_white.png" />
      </a>
      <button
        id="navigation__button"
        class="btn group relative text-accent bg-white aspect-square h-12 lg:h-16 rounded-full flex justify-center items-center overflow-hidden"
      >
        <span
          class="relative text-xl font-semibold z-10 group-hover:text-white flex flex-col gap-1.5"
        >
          <span
            class="bg-accent group-hover:bg-white h-0.5 w-[26px] block border-2 transition-all duration-200 ease-in-out"
          ></span>
          <span
            class="bg-accent group-hover:bg-white h-0.5 w-[26px] block border-2 transition-all duration-200 ease-in-out"
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>

<div
  id="navigation-wrapper"
  data-open
  class="w-screen scale-y-0 group data-[open=true]:scale-y-100 origin-[top_center] transition-transform [transition-timing-function:cubic-bezier(0.19,1,0.22,1)] duration-[600ms] h-[30vh] bg-[#0c0f16] fixed inset-0 border-b-4 border-solid border-[#9C44FC] z-30"
>
  <nav
    class="flex group-data-[open=true]:opacity-100 group-data-[open=false]:opacity-0 justify-center items-center w-full h-full transition-opacity opacity-0"
  >
    <ul class="max-w-[120rem] mx-auto w-full flex flex-col gap-6 text-center">
      <li>
        <a href="#" class="text-4xl uppercase font-black">Home</a>
      </li>
      <li class="">
        <a href="/work" class="text-4xl uppercase font-black">Work</a>
      </li>
      <li class="">
        <a href="#" class="text-4xl uppercase font-black">Jobs</a>
      </li>
    </ul>
  </nav>
</div>

<script>
  const navWrapper = document.querySelector(
    "#navigation-wrapper"
  ) as HTMLDivElement;

  const header = document.querySelector("#nav-header") as HTMLDivElement;

  document.getElementById("navigation__button").onclick = () => {
    //check is bg is shown
    const headerHasBg = header.dataset.showBg === "true";

    navWrapper.dataset.open = `${!(navWrapper.dataset.open === "true")}`;

    if (navWrapper.dataset.open === "true" && headerHasBg) {
      // remove header bg if navigation is opened
      header.dataset.showBg = "false";
    }
  };
</script>

<style is:global>
  .btn span {
    transition: color 0.4s cubic-bezier(0.66, 0, 0.34, 1);
  }

  .btn::after {
    background: #9c44fc;
    border-radius: 50%;
    content: "";
    height: 8rem;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    transition: transform 0.4s cubic-bezier(0.66, 0, 0.34, 1);
    width: 150%;
    z-index: 0;
  }

  .btn.large::after {
    height: 12rem;
  }

  .btn:hover::after,
  .btn:active::after {
    transform: translate(-50%, -55%);
  }

  .items a {
    transition: all 0.4s cubic-bezier(0.66, 0, 0.34, 1);
  }

  .items a:hover {
    color: #9c44fc;
    transform: translateY(-5px);
  }
</style>
