<div class="py-20 flex flex-col gap-5">
  <div
    id="scrolling-text"
    aria-hidden="true"
    class="max-w-[120rem] items-center overflow-hidden flex gap-8 mx-auto"
  >
    <div
      class="text-[4rem] flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_10s_linear_infinite] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
    </div>
    <div
      class="text-[4rem] flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_10s_linear_infinite] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
    </div>
  </div>
  <div
    id="scrolling-text"
    aria-hidden="true"
    class="max-w-[120rem] items-center overflow-hidden flex gap-8 mx-auto"
  >
    <div
      class="text-[4rem] flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_10s_linear_infinite_reverse] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
    </div>
    <div
      class="text-[4rem] flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_10s_linear_infinite_reverse] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >Creations for eternity</span
      >
      <span class="whitespace-nowrap">Creations for eternity</span>
    </div>
  </div>
</div>
