---
import StarIcon from "./StarIcon.astro";
---

<div
  class="py-20 flex flex-col text-[2rem] md:text-[4rem] [--scroll-gap:1rem] lg:[--scroll-gap:2rem] gap-5"
>
  <div
    id="scrolling-text"
    aria-hidden="true"
    class="max-w-[120rem] items-center overflow-hidden flex gap-8 mx-auto"
  >
    <div
      class="flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_20s_linear_infinite] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
    </div>
    <div
      class="flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_20s_linear_infinite] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
    </div>
  </div>
  <div
    id="scrolling-text "
    aria-hidden="true"
    class="max-w-[120rem] items-center overflow-hidden flex gap-8 mx-auto"
  >
    <div
      class="flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_20s_linear_infinite_reverse] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
    </div>
    <div
      class="flex-shrink-0 leading-[1.2] relative flex gap-8 animate-[work_20s_linear_infinite_reverse] justify-between items-center min-w-full"
    >
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      ><StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
      <span class="whitespace-nowrap text-[#9C44FC] font-medium"
        >creations for eternity</span
      >
      <StarIcon />
      <span class="whitespace-nowrap">creations for eternity</span>
      <StarIcon />
    </div>
  </div>
</div>
