---
import Cursor from "../components/Cursor.astro";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} | Eternal Creations` : "Eternal Creations"}
    </title>
    <link rel="stylesheet" href="/css/locomotive-scroll.css" />
    <link
      rel="preload"
      href="/font/Mona-Sans-SemiBoldWide.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/font/Mona-Sans-BlackWide.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Anton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <Cursor />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Mona Sans";
    src: url("/font/Mona-Sans-RegularWide.woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "Mona Sans";
    src: url("/font/Mona-Sans-SemiBoldWide.woff2");
    font-weight: 600;
  }
  @font-face {
    font-family: "Mona Sans";
    src: url("/font/Mona-Sans-SemiBoldWideItalic.woff2");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "Mona Sans";
    src: url("/font/Mona-Sans-BlackWide.woff2");
    font-weight: 900;
  }
  @font-face {
    font-family: "Cal Sans";
    src: url("/font/CalSans-SemiBold.woff2");
    font-weight: 600;
  }
  :root {
    --color-eternal: #9c44fc;
    --color-black: #000000;
    --color-white: #ffffff;

    --color-cursor-active-background: var(--color-white);
    --color-cursor-text-base: var(--color-eternal);
  }
  html {
    font-family: "Outfit", system-ui, sans-serif;
    background-color: #0c0f16;
    color: #fff;
  }
  h1 {
    font-family: "Mona Sans";
  }

  /*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */

  html.has-scroll-smooth {
    overflow: hidden;
  }

  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .has-scroll-smooth body {
    overflow: hidden;
  }

  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }

  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }

  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }

  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }
  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }

  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }
</style>
